.text-color{
    align-items: center;
    color: antiquewhite;
}
.student-img-container{
    height: 250px;
    width: 250px;
    overflow: hidden;
    align-items: center;
    border-radius: 5px;
}
.student-img{
    width: 100%;
    height: 100%;
    
}